<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="customstyles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.js" integrity="sha512-E378bwaeZf1nwXeJGIwTB58A5gPt5jFU3u6aTGja4ZdRFJeo/N/REKnBgNZOZlH6JdnOPO98vg2AnSGaNfCMFQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="bg-custom">
    <header class="text-gray-600 body-font">
        <div class="container flex flex-wrap p-5 flex-col md:flex-row md:items-center">
            <a class="flex title-font font-medium items-center text-gray-900 mb-4 lg:ml-10 md:mb-0">
                <img src="../static/logoname.svg" class="w-16">
            </a>
        </div>
    </header>
    <div class="hidden lg:block lg:absolute top-0 left-48 w-3/4 h-full border-l-2 border-gray-800"></div>
    <div class="grid grid-cols-12">
        <div class="lg:col-span-2"></div>
        <div class="col-span-10">
            <p class="text-white text-4xl lg:text-8xl mt-12 font-custom" style="font-family:quicksand ">Is there a <span class="font-bold "> Perfect <br> landing </span> page?</p>
            <div class="lg:ml-96 flex">
                <div class="w-auto h-28 lg:w-1/2 lg:h-1/4 rounded-xl bg-white frost flex mt-10 -ml-8">
                    <p class=" custom-font text-white p-5 text-xs lg:p-12 lg:text-lg mr-auto">Get Started</p>
                    <div class="custom-bg w-auto lg:w-1/3 h-auto rounded-r-xl flex align-middle justify-center ">
                        <img src="../static/arrow.svg " class="w-5 ">
                    </div>
                </div>
                <div class="circle-1 hidden lg:block"></div>
                <div class="circle-2 hidden lg:block"></div>
            </div>

        </div>
    </div>

</body>

</html>