<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fine Dine</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="customstyles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="icon" href="favicon.png" type="image/png" sizes="16x16">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>

<body style="font-family: Poppins;" class="bg-gray-50 font-medium">
    <div class="grid grid-cols-12 h-full">
        <nav class="w-full col-span-full shadow-sm border-b-2 border-gray-200" style="height:3.5rem;">
            <div class="max-w-8xl mx-auto lg:mx-4 px-2 sm:px-6 lg:px-8">
                <div class="relative flex items-center justify-between h-16">
                    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                      <span class="sr-only">Open main menu</span>
                      <!--
                        Icon when menu is closed.
            
                        Heroicon name: outline/menu
            
                        Menu open: "hidden", Menu closed: "block"
                      -->
                      <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                      <!--
                        Icon when menu is open.
            
                        Heroicon name: outline/x
            
                        Menu open: "block", Menu closed: "hidden"
                      -->
                      <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                    </div>
                    <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex-shrink-0 flex items-center">
                            <img class="block lg:hidden h-8 w-auto" src="" alt="">
                            <img class="hidden lg:block h-8 w-auto" src="../static/logo.svg" alt="">
                        </div>
                    </div>
                    <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-end sm:mr-10">
                        <div class="hidden sm:block">
                            <div class="flex space-x-4">
                                <a href="listBlogs.html" class="text-gray-700 py-3 text-sm font-medium border-b-2 mr-5" aria-current="page">Blogs</a>
                                <a href="createBlog.html" class="text-gray-700 py-3 text-sm font-medium border-b-2" aria-current="page">Add Blogs</a> </div>
                        </div>
                    </div>
                    <!-- Profile dropdown -->
                    <div class="ml-3 relative">
                        <div>
                            <button type="button" class="bg-indigo-500 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="sr-only">Open user menu</span>
                                <a href="Profile.html">
                                    <img class="h-8 w-8 rounded-full p-1" src="../static/user.svg" alt="">
                                </a>                     
                           </button>
                        </div>

                        <!--
                        Dropdown menu, show/hide based on menu state.
            
                        Entering: "transition ease-out duration-100"
                          From: "transform opacity-0 scale-95"
                          To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                          From: "transform opacity-100 scale-100"
                          To: "transform opacity-0 scale-95"
                      -->
                        <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 hidden ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <!-- Active: "bg-gray-100", Not Active: "" -->
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 " role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="hidden" id="mobile-menu">
                <div class="px-2 pt-2 pb-3 space-y-1">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Manage Menu</a>

                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Manage Orders</a>

                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Manage Tables</a>

                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">History</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="grid grid-cols-12 h-auto">
        <div class="lg:col-span-2">
        </div>
        <div class="col-span-12 lg:col-span-8 ">
            <section class="text-gray-600 body-font">
                <!--Container For Cards-->
                <div class="container mx-auto my-5 p-5">
                    <div class="md:flex no-wrap md:-mx-2 ">
                        <!-- Left Side -->
                        <div class="w-full md:w-3/12 md:mx-2">
                            <!-- Profile Card -->
                            <div class="bg-white p-3 border-t-4 border-green-400 rounded-md shadow-sm">
                                <!--
                                <div class="image overflow-hidden">
                                    <img class="h-auto w-full mx-auto" src="user.png" alt="">
                                </div>
                                -->
                                <h1 id="left_name" class="text-gray-900 font-bold text-xl leading-8 my-1"></h1>
                                <div id="profile">
                                </div>
                                <ul class="bg-gray-100 text-gray-600 hover:text-gray-700 hover:shadow py-2 px-3 mt-3 divide-y rounded shadow-sm">
                                    <li class="flex items-center py-3">
                                        <span>Status</span>
                                        <span class="ml-auto"><span
                                                class="bg-green-500 py-1 px-2 rounded text-white text-sm">Active</span></span>
                                    </li>
                                    <li class="flex items-center py-3">
                                        <span>Account</span>
                                        <span class="ml-auto">
                                            <button onclick="logOut()" class="bg-blue-500 py-1 px-2 rounded text-white text-sm">Log Out</button>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- End of profile card -->
                            <div class="my-4"></div>

                        </div>
                        <!-- Right Side -->
                        <div class="w-full md:w-9/12 mx-2 h-64">
                            <p class="border-b-2 border-gray-200 mb-5 font-medium text-base ">Your Blogs</p>
                            <section class="text-gray-500 body-font overflow-hidden bg-white shadow-md rounded-md ">
                                <div class="container px-5 py-8 mx-auto">
                                    <div class="-my-8 divide-y-2 divide-gray-100" id="user_blog">
                                        <!--Blog Card Starts
                                        <div class="py-8 flex flex-wrap md:flex-nowrap">
                                            <div class="md:flex-grow">
                                                <h2 class="text-2xl font-medium text-gray-900 title-font mb-2">Bitters hashtag waistcoat fashion axe chia unicorn</h2>
                                                <p class="leading-relaxed text-sm font-medium">Glossier echo park pug, church-key sartorial biodiesel vexillologist pop-up snackwave ramps cornhole. Marfa 3 wolf moon party messenger bag selfies, poke vaporware kombucha lumbersexual pork belly polaroid
                                                    hoodie portland craft beer.</p>
                                                <a class="text-indigo-500 inline-flex items-center mt-4">Learn More
                                                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path d="M5 12h14"></path>
                                                        <path d="M12 5l7 7-7 7"></path>
                                                    </svg>
                                                </a>
                                                <button class="float-right p-2 bg-red-500 rounded-md shadow-md text-white">Delete</button>
                                            </div>
                                        </div>Blog Card End-->
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!--<div class="lg:col-span-1 "></div>-->

    </div>
    </div>
    <script src="/js/profile.js"></script>
</body>

</html>