<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>

<body style="font-family: Poppins;">
    <div class="grid grid-cols-12 h-full sticky top-0 z-50 bg-white">
        <nav class="w-full col-span-full shadow-sm border-b-2 border-gray-200 " style="height:3.5rem;">
            <div class="max-w-8xl mx-auto lg:mx-4 px-2 sm:px-6 lg:px-8">
                <div class="relative flex items-center justify-between h-16">
                    <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                        <!-- Mobile menu button-->
                        <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                      <span class="sr-only">Open main menu</span>
                      <!--
                        Icon when menu is closed.
            
                        Heroicon name: outline/menu
            
                        Menu open: "hidden", Menu closed: "block"
                      -->
                      <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                      </svg>
                      <!--
                        Icon when menu is open.
            
                        Heroicon name: outline/x
            
                        Menu open: "block", Menu closed: "hidden"
                      -->
                      <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                    </div>
                    <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                        <div class="flex-shrink-0 flex items-center">
                            <img class="block lg:hidden h-8 w-auto" src="" alt="">
                            <img class="hidden lg:block h-8 w-auto" src="../static/logo.svg" alt="">
                        </div>
                    </div>
                    <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-end sm:mr-10">
                        <div class="hidden sm:block">
                            <div class="flex space-x-6">
                                <a href="listBlogs.html" class="text-gray-700 py-3 text-sm font-medium border-b-2 " aria-current="page">Blogs</a>
                                <a href="createBlog.html" class="text-gray-700 py-3 text-sm font-medium border-b-2 " aria-current="page">Add Blogs</a>
                            </div>
                        </div>
                    </div>
                    <!-- Profile dropdown -->
                    <div class="ml-3 relative">
                        <div>
                            <button type="button" class="bg-gray-500 flex text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="sr-only">Open user menu</span>
                                <a href="Profile.html">
                                    <img class="h-8 w-8 rounded-full p-1" src="../static/user.svg" alt="">
                                </a>                     
                           </button>
                        </div>

                        <!--
                        Dropdown menu, show/hide based on menu state.
            
                        Entering: "transition ease-out duration-100"
                          From: "transform opacity-0 scale-95"
                          To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                          From: "transform opacity-100 scale-100"
                          To: "transform opacity-0 scale-95"
                      -->
                        <div class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 hidden ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <!-- Active: "bg-gray-100", Not Active: "" -->
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700 " role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobile menu, show/hide based on menu state. -->
            <div class="hidden" id="mobile-menu">
                <div class="px-2 pt-2 pb-3 space-y-1">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium" aria-current="page">Manage Menu</a>

                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Manage Orders</a>

                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Manage Tables</a>

                    <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">History</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="bg-fixed h-full" style="background-image: url(../static/bg.jpg);">
        <div class="flex items-center justify-center px-4 sm:px-6 lg:px-8">
            <section class="text-gray-600 body-font">
                <div class="container px-5 py-1 mx-auto">
                    <div class="flex-wrap -m-4 grid lg:grid-cols-4">
                        <div class="col-span-1"></div>
                        <div class="lg:w-full col-span-2 py-16" id="blog">
                            <!--<div class="h-full px-8 pt-4 pb-24 overflow-hidden text-center relative">
                                <h1 class="text-left title-font text-white mb-3 font-900 text-6xl" style="font-family:Source Sans Pro;">Automatic OTP/SMS Detection Integration Android</h1>
                                <div class="flex space-x-3 my-10">
                                    <img src="../static/user.svg" class="w-8 h-8 p-1 border-2 border-red rounded-full">
                                    <span class="text-indigo-500 text-lg font-semibold">John Doe</span>
                                </div>
                                <p class="leading-relaxed mb-3 text-justify px-3 text-white">Privacy concerns have always been an issue for Android users. Before Android 6 Marshmallow devices, accessing almost anything was possible from user's devices which makes users privacy violated and vulnerable. But since
                                    Android released request application permission before actually using it made it secure in some manners.<br><br> Two of the major dangerous level permissions i.e., SMS and Location permissions are most of the privacy
                                    concerning permissions. And now it's almost impossible for new and old apps having these permissions to be published without having a very strong use-case. SMS / OTP detection requires SMS permissions from user. And
                                    its a common use case for apps to auto-detect OTP while logging in through mobile verification.<br><br> But since READ_SMS and RCEIVE_SMS are not so much easier to get published on the play store, Google launched SMS
                                    Verification APIs which does the task in-place.
                                </p>

                                <div class="text-center mt-10 leading-none flex pl-2 w-full py-2 mb-5">
                                    <span class="text-gray-400 mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                                    <img src="../static/like.svg" class="mr-2 h-6 w-4 cursor-pointer">12
                                </span>
                                </div>

                                <div class="border-t-2 border-gray-500">
                                    <p class="float-left px-3 my-2 font-semibold text-white">Comments<span>(10)</span></p><br><br>
                                    <form class="flex flex-shrink-1">
                                        <textarea class="float-left ml-4 w-1/2 p-2 rounded-md border-2 border-gray-500"></textarea>
                                        <button class="bg-gray-100 w-1/4 lg:w-1/5 rounded-xl text-black font-semibold text-sm ml-10 lg:text-lg">Submit</button>
                                    </form>
                                    <div>
                                        <div class="flex space-x-3 mt-10">
                                            <img src="../static/user.svg" class="w-7 h-7 p-1 border-2 border-red rounded-full">
                                            <span class="text-indigo-500 text-sm font-medium mt-1">John Doe</span>
                                        </div>
                                        <p class="float-left mt-2 ml-10 font-medium text-base text-white">This is a random comment</p>
                                    </div>
                                    <div>
                                        <div class="flex space-x-3 mt-10">
                                            <img src="../static/user.svg" class="w-7 h-7 p-1 border-2 border-red rounded-full">
                                            <span class="text-indigo-500 text-sm font-medium mt-1">John Doe</span>
                                        </div>
                                        <p class="float-left mt-2 ml-10 font-medium text-base text-white">This is a random comment</p>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="/js/viewBlog.js "></script>
</body>

</html>